<% content_for :title, "Home" %>

<h1>Home</h1>
<hr>
</br>
<div>
  <%= link_to "Listar alunos", alunos_path %>
</div>

<div>
  <%= link_to "Listar cursos", cursos_path %>
</div>

<div>
  <%= link_to "Listar disciplinas", disciplinas_path %>
</div>

